body {
  margin: 0;
  padding: 20px;
  display: flex;
}

.canvas {
  border: 1px solid black;
  display: block;
  top: 0;
  left: 0; 
  position: absolute;
}

#top-layer {
  z-index: 100;
}

#middle-layer {
  z-index: 80;
}

#bottom-layer {
  z-index: 60;
}

.objects-container {
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  position: relative;
  width: 300px;
}

#item1 {
  z-index: 90;
}

#item2 {
  z-index: 70;
}

#item3 {
  z-index: 50;
}

.inventory {
  border: 2px solid black;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background: white;
  z-index: 200;
  display: flex;
  flex-direction: column;
}
